<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aanmelden</title>
</head>
<body>
  <h1>Maak een account aan</h1>
  <a href="/"><button type="button" name="button">terug</button></a>
  <fieldset>
    <legend>Aanmelden:</legend>
    <label for="">Profielfoto:</label><input type="file" name="" value="">
    <label for="">Naam:</label><input type="text" name="name" value="">
    <label for="">Achternaam:</label><input type="text" name="lastname" value="">
    <label for="">Leeftijd:</label><input type="text" name="age" value="">
    <label for="">Geslacht:</label><input type="text" name="" value="">
    <label for="">Woonplaats:</label><input type="text" name="" value="">
    <label for="">Interesse in:</label><input type="text" name="" value="">
  </fieldset>

  <fieldset>
    <label for="">Email:</label><input type="email" name="" value="">
    <label for="">Wachtwoord:</label><input type="password" name="" value="">
    <label for="">Herhaal Wachtwoord:</label><input type="password" name="" value="">
  </fieldset>

  <fieldset>
    <legend>Voorkeuren:</legend>
      <img src="http://via.placeholder.com/150x150">
      <label for="">Roken</label>
      <input type="checkbox" name="" value="">ja
      <input type="checkbox" name="" value="">nee

      <img src="http://via.placeholder.com/150x150">
      <label for="">Alcohol</label>
      <input type="checkbox" name="" value="">ja
      <input type="checkbox" name="" value="">nee

      <img src="http://via.placeholder.com/150x150">
      <label for="">Bios</label>
      <input type="checkbox" name="" value="">ja
      <input type="checkbox" name="" value="">nee

      <img src="http://via.placeholder.com/150x150">
      <label for="">Netflix</label>
      <input type="checkbox" name="" value="">ja
      <input type="checkbox" name="" value="">nee
  </fieldset>

  <fieldset>
    <a href="/ingelogd"><button type="button" name="button">Afronden</button></a>
  </fieldset>

</body>
</html>
