<!DOCTYPE html>
<html>
<head>
  <title>Dating app</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<main>
  <h1>Dating website</h1>
  <a href="https://placeholder.com"><img src="http://via.placeholder.com/488x350"></a>
    <form class="" action="index.html" method="post">

      <fieldset>
        <legend>Inloggen</legend>
        <label for="">E-mail:</label><input type="email" name="username" value="" placeholder="username">
        <label for="">Wachtwoord:</label><input type="password" name="password" value="" placeholder="password">
        <a href="/ingelogd"><button type="button" name="button">Login</button></a>
      </fieldset>

      <fieldset>
        <legend>Of meld je aan met</legend>
        <button type="button" name="button">Login met facebook</button>
        <button type="button" name="button">Login met google</button>
      </fieldset>

      <fieldset>
        <legend>Aanmelden</legend>
        <a href="/aanmelden"><button type="button" name="button">Aanmelden</button></a>
      </fieldset>

    </form>
</main>
</body>
</html>
