<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vandaag</title>
</head>
<body>
  <h2>Datum van vandaag</h2>
  <h1>Welkom, ...</h1>
  <header>
    <ul>
      <li><a href="/ingelogd">Home</a></li>
      <li><a href="/berichten">Berichten</a></li>
      <li><a href="/profiel">Profiel</a></li>
    </ul>
  </header>

  <a href="/"><button type="button" name="button">loguit</button></a>
  <section>
    <article>

          <img src="http://via.placeholder.com/150x150">

          <img src="http://via.placeholder.com/150x150">

          <img src="http://via.placeholder.com/150x150">

          <img src="http://via.placeholder.com/150x150">



    </article>
  </section>

</body>
</html>
