<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Profiel</title>
</head>
<body>
  <h1>Profiel</h1>
  <a href="/ingelogd"><button type="button" name="button">terug</button></a>
  <a href="/profiel-aanpassen"><button type="button" name="button">edit</button></a>
  <fieldset>
    <legend>profiel:</legend>
    <label for="">Naam:</label><input type="text" name="" value="">
    <label for="">Achternaam:</label><input type="text" name="" value="">
    <label for="">Woonplaats:</label><input type="text" name="" value="">
    <label for=""></label><input type="text" name="" value="">
  </fieldset>
  <fieldset>
    <legend>Voorkeuren:</legend>
      <img src="http://via.placeholder.com/150x150">

      <input type="checkbox" name="" value="">ja
      <input type="checkbox" name="" value="">nee

      <img src="http://via.placeholder.com/150x150">

      <input type="checkbox" name="" value="">ja
      <input type="checkbox" name="" value="">nee

      <img src="http://via.placeholder.com/150x150">

      <input type="checkbox" name="" value="">ja
      <input type="checkbox" name="" value="">nee

      <img src="http://via.placeholder.com/150x150">

      <input type="checkbox" name="" value="">ja
      <input type="checkbox" name="" value="">nee
  </fieldset>
  <fieldset>
    <legend>hallo</legend>
  </fieldset>
  <fieldset>
    <a href="/ingelogd"><button type="button" name="button">Afronden</button></a>
  </fieldset>

</body>
</html>
